@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

@theme {
  --font-fraunces: "Fraunces", serif;
  --font-manrope: "Manrope", sans-serif;

  --color-azul: #00989E;
  --color-naranja: #FF9E6C;
  --color-verde: #2EB872;
  --color-neutral: #fcfaf1;
  --color-bagde: #fdfefb;

}

:root {
  --azul: #00989E;
  --naranja: #FF9E6C;
  --verde: #2EB872;
  --neutral: #fcfaf1;
  --bagde: #fdfefb;
}

body {
  font-family: var(--font-manrope);
  background: var(--neutral);
  color: #111111;
  overflow-x: hidden;
}